* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header,
footer {
    background-color: #223831;
    color: white;
    height: 60px;
}

nav {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    gap: 30px;
}

nav > ul > li {
    height: 100%;
    width: 100%;

}

nav > ul > li > a {
    height: 100%;
    width:100%;
    display:block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-weight: 500;
}

p {
    font-size: 70%;
    margin-bottom: 40px;
}

p:last-of-type {
    margin-bottom: 0;
}

article {
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

figure {
    margin-bottom: 20px;
}

img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.2);
}

figcaption {
    font-size: 70%;
    font-style: italic;
}

audio {
    display: block;
    width: 35%;
    margin-top: 2%;
}

video {
    width: 100%;
    margin-bottom: 40px;
}

.Top {
    width: 80px;
    height: 80px;
    background: grey;
    border: none;
    font-size: 150%;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    color: whitesmoke;
    position: fixed;
    bottom: 120px;
    right: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
}

footer > p {
    width: 60vw;
    margin: 0 auto;
    padding-left: 40px;
}

@media screen and (max-width: 1000px) {
    article,
    footer > p {
        width: 80vw;
    }

    img:hover {
        transform: none;
    }

    .Top {
        width: 80px;
        height: 80px;
        border: none;
        bottom: 120px;
        right: 120px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    article {
        width: 100vw;
        padding: 20px;
    }

    h1 {
        font-size: 180%;
    }

    footer > p {
        width: 100vw;
        padding-left: 20px;
    }
}
